header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1440px;
    height: 80px;
}

.headerLeft {
    margin-left: 50px;
}

.headerRight {
    display: flex;
    align-items: flex-start;
    margin: 0;
    padding: 0;

    img {
        margin-left: 67px;
    }

    span {
        vertical-align: top;
    }

    li {
        list-style-type: none;
    }
}