@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Raleway', system-ui;
}

body,
{
margin: 0;
font-family: 'Raleway', system-ui;
background-color: lavenderblush;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

p,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

.App {
  background: rgba(255, 255, 255, 1);
  max-width: 1440;
  margin: 0 auto;
}

.content {
  h1 {
    margin-left: 100px;
  }
}

.wrapper {
  // width: 1440;
  display: flex;
  flex-wrap: wrap;
  // padding: 40px;
}

.contentSearch {
  border: 1px solid #f3f3f3;
  display: flex;
  align-items: center;
  margin-right: 50px;
  padding: 10px;
  img {
    opacity: 0.4;
  }
}

.searchBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  input {
    border: 0;
    padding-left: 10px;
    font-size: 16px;
    outline: none;
  }
}